@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.eot");
  src: url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Bold.eot");
  src: url("Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff"), url("Roboto-Bold.ttf") format("truetype"), url("Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Black.eot");
  src: url("Roboto-Black.eot?#iefix") format("embedded-opentype"), url("Roboto-Black.woff2") format("woff2"), url("Roboto-Black.woff") format("woff"), url("Roboto-Black.ttf") format("truetype"), url("Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 0.025em;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn_link {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: #00aeed;
  padding: 10px 28px;
  text-decoration: none;
  border-radius: 25px;
  -webkit-transition: .2s background-color linear;
  transition: .2s background-color linear;
}

.btn_link:hover {
  background-color: #0295ca;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo > img {
  max-width: 100%;
}

.header__menu-link {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.header__menu-link:not(:first-child) {
  margin-left: 30px;
}

.header__menu-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 34px;
  width: 100%;
  height: 6px;
  background-color: #56659c;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
}

.header__menu-link:hover::before {
  opacity: 1;
}

.header__mobile-icon {
  display: none;
}

.mainblock {
  background: url(../img/world-map.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.mainblock::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #082938;
  opacity: 0.9;
  z-index: -1;
}

.mainblock__title {
  max-width: 320px;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.4;
  margin-right: 80px;
}

.mainblock__img {
  -webkit-transform: translateY(14%);
          transform: translateY(14%);
}

.mainblock__img > img {
  max-width: 100%;
}

.mainblock__content {
  max-width: 320px;
  margin: 0px 40px;
}

.mainblock__text {
  color: #fff;
  margin-bottom: 35px;
}
/*# sourceMappingURL=style.css.map */