@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Regular.eot");
  src: url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Bold.eot");
  src: url("Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff"), url("Roboto-Bold.ttf") format("truetype"), url("Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto-Black.eot");
  src: url("Roboto-Black.eot?#iefix") format("embedded-opentype"), url("Roboto-Black.woff2") format("woff2"), url("Roboto-Black.woff") format("woff"), url("Roboto-Black.ttf") format("truetype"), url("Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.4;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn_link {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: #00aeed;
  padding: 10px 28px;
  text-decoration: none;
  border-radius: 25px;
  -webkit-transition: .2s background-color linear;
  transition: .2s background-color linear;
}

.btn_link:hover {
  background-color: #0295ca;
}

p {
  color: #707070;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo > img {
  max-width: 100%;
}

.header__menu-link {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.header__menu-link:not(:first-child) {
  margin-left: 30px;
}

.header__menu-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 34px;
  width: 100%;
  height: 6px;
  background-color: #56659c;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
}

.header__menu-link:hover::before {
  opacity: 1;
}

.header__mobile-icon {
  display: none;
}

@media (max-width: 992px) {
  .header__mobile-icon {
    display: block;
    position: relative;
    width: 32px;
    height: 4px;
    background-color: #fff;
  }
  .header__mobile-icon::before, .header__mobile-icon::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 32px;
    height: 4px;
    background-color: #fff;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  }
  .header__mobile-icon::after {
    top: 10px;
  }
  .header__mobile-icon.header__mobile-icon_active {
    background-color: transparent;
  }
  .header__mobile-icon.header__mobile-icon_active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  }
  .header__mobile-icon.header__mobile-icon_active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header__menu_active {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #123849;
  }
  .header__menu_active .header__menu-link {
    font-size: 28px;
    margin-left: 0;
    text-align: center;
  }
  .header__menu_active .header__menu-link::before {
    display: none;
  }
  .header__menu_active .header__menu-link:hover {
    color: #dadd1f;
  }
}

@media (max-width: 767px) {
  .header__logo > img {
    max-width: 80%;
  }
  .header__wrap {
    height: 50px;
  }
}

.mainblock {
  background: url(../img/world-map.jpg) no-repeat;
  background-size: cover;
  max-height: 800px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainblock::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #082938;
  opacity: 0.9;
  z-index: -1;
}

.mainblock__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.mainblock__title {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.4;
}

.mainblock__img {
  -webkit-transform: translateY(14%);
          transform: translateY(14%);
  text-align: center;
}

.mainblock__img > img {
  max-width: 100%;
}

.mainblock__text {
  color: #fff;
  margin-bottom: 35px;
}

.mainblock__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
}

@media (max-width: 1200px) {
  .mainblock__inner {
    padding-top: 80px;
    padding-bottom: 10px;
  }
  .mainblock__img {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (max-width: 992px) {
  .mainblock__inner {
    padding-top: 28px;
  }
  .mainblock__title {
    font-size: 50px;
  }
  .mainblock__img > img {
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  .mainblock__title {
    font-size: 36px;
  }
  .mainblock__content {
    margin-right: 20px;
  }
  .mainblock__text {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

@media (max-width: 576px) {
  .mainblock {
    height: 100vh;
  }
  .mainblock__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .mainblock__inner {
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainblock__img {
    display: none;
  }
  .mainblock__title {
    font-size: 29px;
    margin-bottom: 22px;
  }
  .mainblock__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 380px;
    margin-right: 0px;
  }
  .mainblock__text {
    font-size: 17px;
    text-align: center;
  }
}

.about {
  padding: 104px 0;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.about__title {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about__text {
  margin-bottom: 40px;
}

.about__img-wrap {
  margin-top: 15px;
  position: relative;
}

.about__img-wrap::after {
  content: "";
  top: 15px;
  right: 40px;
  position: absolute;
  display: block;
  width: 28%;
  height: 40%;
  background-color: #0295ca;
  z-index: -1;
}

.about__img {
  max-width: 100%;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .about {
    padding: 68px 0;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 40px 0;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__text-wrap {
    text-align: center;
    max-width: 440px;
  }
}

@media (max-width: 576px) {
  .about__title {
    font-size: 29px;
  }
  .about__img-wrap::after {
    right: 30px;
  }
}

.testimonials {
  background: url(../img/testimonials-bg.jpg) center no-repeat;
  background-size: cover;
}

.testimonials__inner {
  padding-top: 40px;
  padding-bottom: 40px;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

.slider__img-wrap {
  text-align: center;
  bottom: 0;
}

.slider__img {
  max-width: 100%;
}

.slider__info {
  text-align: center;
}

.slider__info-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.slider__text {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.slider__name {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}

.slider__prof {
  font-size: 15px;
  color: #fff;
}

.testimonials__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.dots__item {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 26px;
  background-color: #fff;
  cursor: pointer;
}

.dots__item:last-child {
  margin: 0;
}

.dots__item_active {
  background-color: #00aeed;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .testimonials__inner {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .slider__text {
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__img-wrap {
    margin-bottom: 20px;
  }
}

.services {
  background: url(../img/services-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 76px 0;
}

.services__title-wrap {
  text-align: center;
  color: #fff;
}

.services__title {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
  color: #fff;
  margin-top: 44px;
  padding: 0 30px;
}

.services__item-img {
  margin-bottom: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 28px;
}

.services__item-title {
  font-size: 19px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.services__item-text {
  color: #fff;
}

@media (max-width: 767px) {
  .services {
    padding: 30px 0;
  }
  .services__title {
    margin-bottom: 14px;
  }
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .services__title {
    font-size: 29px;
  }
  .services__item-img {
    width: 60px;
    height: 60px;
  }
  .services__item-img > img {
    width: 30px;
  }
}

.wedo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wedo__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.wedo__img-wrap {
  background: url(../img/what-we-do.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wedo__img-text {
  font-size: 62px;
  text-align: center;
  color: #fff;
  padding: 0 50px;
}

.wedo__text-wrap {
  margin: 70px 15px 42px 124px;
}

.wedo__title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 34px;
  text-transform: uppercase;
}

.wedo__item {
  position: relative;
  margin-bottom: 28px;
}

.wedo__item-icon {
  position: absolute;
  top: 0;
  left: -74px;
}

.wedo__item-title {
  margin-bottom: 22px;
  font-weight: 900;
}

.wedo__item-text {
  max-width: 514px;
}

@media (max-width: 1200px) {
  .wedo__img-text {
    font-size: 52px;
  }
}

@media (max-width: 992px) {
  .wedo__img-text {
    font-size: 44px;
    margin: 100px 0;
  }
}

@media (max-width: 776px) {
  .wedo__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wedo__text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 15px 2px 94px;
  }
  .wedo__title {
    margin-left: calc(-10% - 50px);
  }
}

@media (max-width: 576px) {
  .wedo__img-text {
    font-size: 32px;
    margin: 60px 0;
  }
  .wedo__title {
    font-size: 29px;
  }
}

.news {
  padding: 70px 0;
}

.news__title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 60px;
  text-transform: uppercase;
  text-align: center;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__column:first-child {
  margin-right: 50px;
}

.news__img {
  margin-bottom: 38px;
  max-width: 100%;
}

.news__content-title {
  margin-bottom: 22px;
  font-weight: 900;
  margin-bottom: 38px;
}

.news__content-text {
  margin-bottom: 38px;
}

@media (max-width: 767px) {
  .news__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .news__column:first-child {
    margin-right: 0px;
    margin-bottom: 38px;
  }
}

@media (max-width: 576px) {
  .news {
    padding: 30px 0;
  }
  .news__title {
    margin-bottom: 34px;
  }
  .news__img {
    margin-bottom: 22px;
  }
  .news__content-title {
    margin-bottom: 22px;
  }
}
/*# sourceMappingURL=style.css.map */