*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 1.4;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn_link {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background-color: #00aeed;
    padding: 10px 28px;
    text-decoration: none;
    border-radius: 25px;
    transition: .2s background-color linear;
    &:hover {
        background-color: #0295ca;
    }
}
p {
    color: #707070;
}