.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    // .header__wrap
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    // .header__logo > img

    &__logo > img {
        max-width: 100%;
    }

    // .header__menu-link

    &__menu-link {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
            &:not(:first-child) {
                margin-left: 30px;
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 34px;
                width: 100%;
                height: 6px;
                background-color: #56659c;
                transition: opacity .2s linear;
                opacity: 0;
            }
            &:hover::before {
                opacity: 1;
            }
    }

    // .header__mobile-icon

    &__mobile-icon {
        display: none;
    } 
}

// meadia queries

@media (max-width: 992px) {

    .header__mobile-icon {
        display: block;
        position: relative;
        width: 32px;
        height: 4px;
        background-color: #fff;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 32px;
            height: 4px;
            background-color: #fff;
            transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        }
        &::after {
            top: 10px;
        }
    }
    .header__mobile-icon.header__mobile-icon_active {
        background-color: transparent;

        &::before {
            transform: rotate(45deg);
            top: 0;
            transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
        }

        &::after {
            transform: rotate(-45deg);
            top: 0;
            transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
        }
    }
    .header__menu {
        position: fixed;
        top: -100%;
        transition: all 0.4s ease 0s;
    }
    .header__menu_active {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #123849;
        // padding: 60px 0;
    }
    .header__menu_active .header__menu-link {
        font-size: 28px;
        margin-left: 0;
        text-align: center;
        &::before {
            display: none;
        }
        &:hover {
            color: rgb(218, 221, 31);
        }
    }
}
@media (max-width: 767px) {
    .header__logo > img {
        max-width: 80%;
    }
    .header__wrap {
        height: 50px;
    }
}