
.mainblock {
    background: url(../img/world-map.jpg) no-repeat;
    background-size: cover;
    max-height: 800px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #082938;
        opacity: 0.9;
        z-index: -1;
    }

    // .mainblock__inner

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    // .mainblock__title

    &__title {
        font-size: 60px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        line-height: 1.4;
    }

    // .mainblock__img

    &__img {
        transform: translateY(14%);
        text-align: center;
    }

    //. mainblock__img > img

    &__img > img {
        max-width: 100%;
    }

    // .mainblock__text

    &__text {
        color: #fff;
        margin-bottom: 35px;
    }

    // .mainblock__row

    &__row {
        flex: 1 1 33.3333%;
    }
}

// media queries
@media (max-width: 1200px) {
    .mainblock__inner {
        padding-top: 80px;
        padding-bottom: 14px;
    }
    .mainblock__img {
        transform: translateY(0%);
    }
}
@media (max-width: 992px) {
    
    .mainblock__inner {
        padding-top: 28px;
       
    }
    .mainblock__title {
        font-size: 50px;
    }
    .mainblock__img > img {
        max-width: 80%;
    }
}
@media (max-width: 767px) {
    .mainblock__title {
        font-size: 36px;
    }
    .mainblock__content {
        margin-right: 20px;   
    }
    .mainblock__text {
        font-size: 14px;
        margin-bottom: 25px;
    }
}
@media (max-width: 576px) {
    .mainblock {
        height: 100vh;
    }
    .mainblock__row {
        flex: 0 1 auto;
    }
    .mainblock__inner {
        padding-top: 60px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mainblock__img {
        display: none;
    }
    
    .mainblock__title {
        font-size: 29px;
        margin-bottom: 26px;
    }
    .mainblock__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 280px;
        margin-right: 0px;
    }
}