.social {
    background: url(../img/social-bg.jpg) center no-repeat;
    background-size: cover;

    &__row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 118px 15px 98px 25px;
    }

    &__item {
        width: 84px;
        height: 84px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 0;
        margin-bottom: 20px;
        margin-right: 40px;

        &:hover,
        &:hover .fab {
            background-color: #fff;
            color: #0295ca;
        }
    }
}

.fab {
    font-size: 36px;
    color: #fff;
}

    // media queries

@media (max-width: 992px) {
    .item {
        width: 60px;
        height: 60px;
    }
    .social__item {
        margin-right: 26px;
    }
    .fab {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .social__row {
        padding: 118px 15px 78px 35px;
    }
}