.testimonials {
    background: url(../img/testimonials-bg.jpg) center no-repeat;
    background-size: cover;

    // .testimonials__inner

    &__inner {
        padding-top: 70px;
        padding-bottom: 40px;
    }  
}
.slider {
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fade 1s ease-in-out;
    }

    // .slider__img-wrap

    &__img-wrap {
        text-align: center;
    }

    // .slider__img

    &__img {
        max-width: 100%;
    }

    // .slider__info

    &__info {
        text-align: center;  
    }

    // .slider__column

    &__info-column {
        flex: 1 1 50%;
    }

    // .slider__text

    &__text {
        color: #fff;
        margin-bottom: 54px;
        position: relative;
    }
    

    // .slider__name

    &__name {
        font-size: 30px;
        color: #fff;
        margin-bottom: 10px;
    }

    // .slider__prof

    &__prof {
        font-size: 15px;
        color: #fff;    
    }
}
.testimonials__dots {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
.dots__item {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 26px;
    background-color: #fff;
    cursor: pointer;
}
.dots__item:last-child {
    margin: 0;
}
.dots__item_active {
    background-color: #00aeed;
}

@keyframes fade {
    from {
        opacity: .4;
    
    }
    to {
        opacity: 1;
    
    }
}

// media queries

@media (max-width: 992px) {
    .testimonials__inner {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .slider__text {
        margin-bottom: 26px;
    }
}
@media (max-width: 767px) {
    .slider__item {
        flex-direction: column;
    }
    .slider__img-wrap {
        margin-bottom: 20px;
    }
    .slider__text {
        text-align: start;
    }

}